<h1>Dashboard#dashboard</h1>
<br>
<!-- Just For dashboard Home page with no users Signed in -->
<% if !user_signed_in? %>
<h4>List of products</h4>
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<!-- Just For dashboard -->
<!-- Just For dashboard when admin logs in-->
<% if user_signed_in? %>
  <% if current_user.isadmin %>
<h4>List of products to show</h4>
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %> </td>

            <td><%= link_to 'Show', product %></td>
            <td><%= link_to 'Edit', edit_product_path(product) %></td>
            <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <td><%= link_to 'Manage Product', product %></td>

      </tr>
    <% end %>
  </tbody>
</table>
  <% end %>
<% end %>
<!-- Just For dashboard when admin logs in-->
<!-- Just For dashboard when any user Logs in -->
<% if user_signed_in? %>
<h4>List of products of <%= current_user.username %></h4>
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @userproducts.each do |userproduct| %>
      <% if current_user.id == userproduct.user_id %>
  <tr>
    <td><%= @products.find(userproduct.product_id).name %></td>
    <td><%= link_to 'Show', @products.find(userproduct.product_id) %></td>
    <td><%= link_to 'Edit', edit_product_path(@products.find(userproduct.product_id)) %></td>
  </tr>
      <% end %>
    <% end %>

  </tbody>
</table>
<br />

<% if user_signed_in? && current_user.isadmin? %>
<%= link_to 'New Product', new_product_path %>
<% end %>
<% end %>
<!-- Just For dashboard when any user Logs in -->
