<h1>Admin#index</h1>
<fieldset>
<p>Hi Admin, <%= current_puser.username %></p>
</fieldset>

<h1>Users</h1>
<pre>
  <%=

  if current_puser.isadmin
        #@Comp = User.find_by(id: session[:user_id])
        flash[:notice] = "User is #{current_puser.isadmin} admin"
      else
        flash[:notice] = "User is #{current_puser.isadmin} admin"
      end
   %>
</pre>
<p>
  <strong>Name:</strong>
  <%= current_puser.username %>
  <%= current_puser.id %>
  <%= current_puser.isadmin %>

</p>
<%= link_to 'Add an Administrator', User %>
<%= link_to 'Create New Product', product_path %>
<%= link_to 'Assign Product', users_path %>

<%#link_to 'Logout', @user, controller: :destroy, data: { confirm: 'Are you sure?' } %>
