<h1>Admin#index</h1>
<fieldset>
<p>Hi Admin, <%= session[:user_name] %></p>
</fieldset>

<h1>Users</h1>
<pre>
  <%=
  @Comp = User.find_by(id: session[:user_id])
  if @Comp.isadmin
        #@Comp = User.find_by(id: session[:user_id])
        flash[:notice] = "User is #{@Comp.isadmin} admin"
      else
        flash[:notice] = "User is #{@Comp.isadmin} admin"
      end
   %>
</pre>
<p>
  <strong>Name:</strong>
  <%= session[:user_name] %>
  <%= session[:user_id] %>
  <%= @Comp.isadmin %>

</p>
<%= link_to "logout", :controller=> "sessions", :action=> "destroy" %>
<%= link_to 'Add an Administrator', User %>
<%= link_to 'Create New Product', product_path %>
<%= link_to 'Assign Product', users_path %>

<%#link_to 'Logout', @user, controller: :destroy, data: { confirm: 'Are you sure?' } %>
