.h1
  Quiz
= form_for [:admin, @product, @quiz] do |f|
  .row
    .col-md-6
      = errors_for(@quiz)

      = f.hidden_field :product_id, value: @product.id
      = f.hidden_field :parent_id, value: @content.id if @content.present?
      .form-group
        %label= f.label :title
        = f.text_field :title, class: 'form-control'
      .form-group
        %label= f.label 'Type'
        = f.text_field :q_type, class: 'form-control'
      .form-group
        %label= f.label :time
        = f.text_field :time, class: 'form-control'
  %h4 Questions
  = f.fields_for :questions do |question|
    = render 'question_fields', f: question
  .form-group.links
    = link_to_add_association 'New Question', f, :questions, class: 'btn btn-default btn-sm'
    = f.submit class: 'btn btn-sm btn-default'