.row.nested-fields
  .col-md-8
    .panel.panel-default
      .panel-heading
        .panel-title
          .col-md-10
            = f.text_area :question, class: 'form-control'
        .pull-right
          = link_to "<span class='glyphicon glyphicon-chevron-up'></span>".html_safe, "#", class: 'btn btn-warning btn-sm clickable'
          = link_to_remove_association "<span class='glyphicon glyphicon-remove'></span>".html_safe, f, class: 'btn btn-warning btn-sm'
        .clearfix

      .panel-body
        .row
          .col-md-12.form-group.field
            = f.label :explanation
            = f.text_area :explanation, class: 'form-control'
        .row
          .col-md-12.form-group.field
            = f.label :hint
            = f.text_field :hint, class: 'form-control'
        .row.answers
          .col-md-12.form-group.field
            = f.label :correct
            = f.text_field :correct, class: 'form-control'
        .row.answers
          .col-md-12.form-group.field
            = f.label :distractor
            = f.text_field :distractor1, class: 'form-control'
        .row.answers
          .col-md-12.form-group.field
            = f.label :distractor
            = f.text_field :distractor2, class: 'form-control'
        .row.answers
          .col-md-12.form-group.field
            = f.label :distractor
            = f.text_field :distractor3, class: 'form-control'
        .row.answers
          .col-md-12.form-group.field
            = f.label :distractor
            = f.text_field :distractor4, class: 'form-control'
        .row.answers
          .col-md-12.form-group.field
            = f.label :distractor
            = f.text_field :distractor5, class: 'form-control'
        .row.answers
          .col-md-12.form-group.field
            = f.label :distractor
            = f.text_field :distractor6, class: 'form-control'
        .row.answers
          .col-md-12.form-group.field
            = f.label :distractor
            = f.text_field :distractor7, class: 'form-control'
        .row.answers
          .col-md-12.form-group.field
            = f.label :distractor
            = f.text_field :distractor8, class: 'form-control'
        .row.answers
          .col-md-12.form-group.field
            = f.label :distractor
            = f.text_field :distractor9, class: 'form-control'
