<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @content.product_id %>
</p>

<p>
  <strong>Module Name:</strong>
  <%= @content.name %>
</p>

<!-- <p>
  <strong>Follows:</strong>
  <%#= @content.follows %>
</p> -->

<!-- <p>
  <strong>Parent:</strong>
  <%= @content.parent %>
</p> -->

<p>
  <strong>Kind:</strong>
  <%= @content.actable_type %>
</p>
<br>
<%= link_to 'Back', :back , class: 'btn btn-sm btn-primary'%>
