
<div class="btn-group">

</div>

<div style="display:none;" id="quiztimer"></div>

<p>
  <strong>Product:</strong>
  <%= @content.product_id %>
</p>

<p>
  <strong>Module Name:</strong>
  <%= @content.name %>
</p>

<!-- <p>
  <strong>Follows:</strong>
  <%#= @content.follows %>
</p> -->

<!-- <p>
  <strong>Parent:</strong>
  <%= @content.parent %>
</p> -->

<p>
  <strong>Kind:</strong>
  <%= @content.actable_type %>
</p>

<p>
  <strong>Time:</strong>
  <%= @content.time %>
</p>

<p>
  <strong>Time Left:</strong>
  <%= @min %> minutes <%= @sec %> seconds
</p>
<br>
<input type="button" value="Start Test" onclick="starttimer()" id="start" class='btn btn-sm btn-success'>
<input type="button" value="Pause" onclick="pausetimer()" id="pause" class='btn btn-sm btn-success' style="display:none;">
<!-- <button onclick="timer()" , class = 'btn btn-sm btn-success', id="startbutton", value='asd'></button> -->
<%= link_to 'Back', admin_product_path(@backid) , class: 'btn btn-sm btn-primary', :id=>"link_to"%>
