.h2
  = @modulee.title
.panel.panel-default
  .panel-body
    .row
      .col-md-12
        .pull-right
          Add:
          .btn.btn-default.btn-sm
            Submodule
          .btn.btn-default.btn-sm
            = link_to('HTML', new_admin_product_html_path(@product, content_id: @modulee.content.id))
          .btn.btn-default.btn-sm
            = link_to('Quiz', new_admin_product_quiz_path(@product, content_id: @modulee.content.id))
          .btn.btn-default.btn-sm
            = link_to('Flashcard', new_admin_product_flashcard_path(@product, content_id: @modulee.content.id))
          .btn.btn-default.btn-sm
            = link_to('Media', new_admin_product_media_path(@product, content_id: @modulee.content.id))
    %br
    %ul.sortable
      / Re-order by :row_order so that all the children specific to modulee are in order
      - @modulee.children.order(:row_order).each do |child|
        %li{ "data-content-id": child.id }
          = render partial: '/admin/products/' << child.actable_type.downcase, object: child

.btn.btn-default.btn-sm
  = link_to('Back', admin_product_path(@product))
.btn.btn-default.btn-sm
  = link_to('Edit', edit_admin_product_modulee_path(@product, @modulee))

%br
%br