.h1
  HTML Content
= form_for [:admin, @product, @html] do |f|
  .row
    .col-md-6
      = errors_for(@html)

      = f.hidden_field :product_id, value: @product.id
      = f.hidden_field :parent_id, value: @content.id if @content.present?
      .form-group
        %label= f.label :name
        = f.text_field :name, class: 'form-control'
      .form-group
        %label= f.label :description
        = f.text_field :description, class: 'form-control'
        %p.help-block
          (Not shown to users - For content management only)
      .form-group
        %label
          HTML
        %textarea.form-control{rows: 25}
      .form-group
        = f.submit class: 'btn btn-sm btn-default'