.h2
  = @html.title
  %small
    = @html.description
.panel.panel-default
  .h4
    .label.label-default PREVIEW
  .panel-body
    = raw(@html.html_source)

.btn.btn-default.btn-sm
  = link_to('Back', admin_product_path(@product))
.btn.btn-default.btn-sm
  = link_to('Edit', edit_admin_product_html_path(@product, @html))
