.h2
  Media
  %small
    = @media.title
%br

.row
  .col-md-6
    - if @media.specific.source_url.present?
      - if @media.specific.local_type == 'Video'
        = video_tag @media.specific.source_url, controls: true, size: '300x200'
      - elsif @media.specific.local_type == 'Audio'
        = audio_tag @media.specific.source_url, controls: true
      - else
        = image_tag(@media.specific.source_url, class: 'img-thumbnail')

%br

.row
  .col-md-6
    .btn.btn-default.btn-sm
      = link_to('Back', admin_product_path(@product))
    .btn.btn-default.btn-sm
      = link_to('Edit', edit_admin_product_media_path(@product, @media))
