<div class="col-md-12">
  <div class="row quiz_fields">
    <%= f.hidden_field :actable_type, value: 'Flashcard' %>
    <%= f.hidden_field :parent_id %>
    
    <div class="form-group col-md-10">
      <%= f.label :name, class: 'control-label' %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    
    <div class="form-group col-md-2">
      <%= link_to_remove_association "<span class='glyphicon glyphicon-minus' aria-hidden='true'></span>".html_safe, f, class: "remove_fields btn btn-sm btn-danger", data: { confirm: 'Are you sure?' }, wrapper_class: 'quiz_fields'  %>
    </div>
  </div>
</div>
