.row
  = form_for [:admin, @product], html: { class: 'form col-md-6' } do |f|
    = errors_for(@product)
    
    .form-group
      = f.label :title, class: 'control-label'
      = f.text_field :title, class: 'form-control'

    .form-group
      = f.label :visibility, class: 'control-label'
      = f.select :visibility, options_for_select(["All", "Registered Users", "Privileged Users"], @product.visibility), {}, { class: 'form-control' }

    %hr

    .h4
      Permissions
      %br
      %br
      = f.fields_for :permissions do |permission|
        / render permissions which don't relate to current user
        = render 'permission_fields', f: permission if permission.object.user_id != current_user.id
      
      .form-group.links
        = link_to_add_association 'New Permissions', f, :permissions, class: 'btn btn-default btn-sm'    

    .form-group
      = link_to 'Back', admin_product_path(@product), class: 'btn btn-sm btn-primary'
      = f.submit class: 'btn btn-sm btn-success'
