<div class="row">
<%= form_for [:admin, @product], html: { class: 'form col-md-6' } do |f| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title, class: 'control-label' %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :visibility, class: 'control-label' %>
    <%= f.select :visibility, options_for_select(["All", "Registered Users", "Privileged Users"], @product.visibility), {}, { class: 'form-control' } %>
  </div>

  <div class="form-group">
    <%= label_tag :product_managers, 'Product Managers' %>
    <% if current_user.has_role? :admin %>
      <%= select_tag 'product[managers][]', options_for_select(User.product_managers.pluck(:email), @product_managers), class: 'form-control ', multiple: true, id: 'product_managers_select_field' %>
    <% else %>
      <p><%= @product_managers.join(', ') %></p>
    <% end %>
  </div>

  <hr/>
  <%= link_to "Manage Contributors", admin_product_contributions_path(@product), class: 'btn btn-sm btn-warning' if params[:action] == 'edit' %>



  <div class="form-group">
      <%= f.submit class: 'btn btn-sm btn-success' %>
    </div>
<% end %>
</div>
