.panel.panel-default
  .panel-heading
    .h4
      = link_to modulee.title, admin_product_modulee_path(@product, modulee.actable_id)
      - if can? :manage, modulee.specific
        .pull-right
          .btn.btn-default.btn-sm
            = link_to 'Edit', edit_admin_product_modulee_path(@product, modulee.actable_id)

  .panel-body
    .row
      .col-md-12
        .pull-right
          Add:
          .btn.btn-default.btn-sm
            Submodule
          .btn.btn-default.btn-sm
            = link_to('HTML', new_admin_product_html_path(@product, content_id: modulee.id))
          .btn.btn-default.btn-sm
            = link_to('Quiz', new_admin_product_quiz_path(@product, content_id: modulee.id))
          .btn.btn-default.btn-sm
            = link_to('Flashcard', new_admin_product_flashcard_path(@product, content_id: modulee.id))
          .btn.btn-default.btn-sm
            = link_to('Media', new_admin_product_media_path(@product, content_id: modulee.id))
    %br
    %ul.sortable
      / Re-order by :row_order so that all the children specific to modulee are in order
      - modulee.children.order(:row_order).each do |child|
        %li{ "data-content-id": child.id }
          = render partial: child.actable_type.downcase, object: child
/ - if !modulee.parent
/   .pull-right
/     .btn.btn-default
/       = link_to('Add Module', new_admin_product_modulee_path(@product))
