.row.nested-fields
  .col-md-5.form-group.field
    = f.hidden_field :product_id, value: @product.id
    = f.select :user_id, options_for_select(non_contributing_users(@product.id), selected: f.object.user_id), { include_blank: 'Select User' }, class: 'form-control user_select_field'
  .col-md-5.form-group.field
    = f.select :role_id, options_for_select(Role.non_admin_roles, selected: f.object.role_id), { include_blank: 'Select Role' }, class: 'form-control user_role_select_field'
  .col-md-2
    = link_to_remove_association "<span class='glyphicon glyphicon-remove'></span> Delete".html_safe, f, class: 'btn btn-danger btn-sm'
  .col-md-12.form-group.field.permission_contents_field
    = f.select :contents, options_for_select(Content.where(product_id: @product.id).pluck(:title, :id), selected: contents_to_array(f.object.id)), {}, class: 'form-control', id: 'product_users_contents_permissions', multiple: true