<br/>

<h5>
	<strong>Title:</strong> <%= @product.title %>
  <br/><br/>
  <strong>Visibility:</strong> <%= @product.visibility %>
</h5>
<br>
<h3>Modules</h3>
<br>
<table class="table table-condensed">
  <thead>
    <tr>
      <th>Module Name</th>
      <th>Kind</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contents.each do |content| %>
      <tr>
        <td><%= link_to content.name, admin_content_path(content), class: 'btn-link' %></td>
        <td><%= content.actable_type %></td>
        <td>
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Actions <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              	<li><%= link_to 'Edit', edit_admin_content_path(content) %></li>
								<li><%= link_to 'Destroy', admin_content_path(content), method: :delete, data: { confirm: 'Are you sure?' } %></li>
								<li><%= link_to 'Set Time', admin_contents_path %></li>
            </ul>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br/>

<%= link_to 'Edit', edit_admin_product_path(@product), class: 'btn btn-sm btn-success' if can? :update, @product %>
<%= link_to 'Back', admin_products_path, class: 'btn btn-sm btn-primary' %>

 <!-- Import Function New   -->
<!-- <h1>Products</h1>

<p>
  Download:
  <%#= link_to "CSV", products_path(format: "csv") %> |
  <%#= link_to "Excel", products_path(format: "xls") %>
</p> -->

<table id="products">
  <!-- <tr>
    <th>Product Name</th>
    <th>Release Date</th>
    <th>Price</th>
  </tr> -->
<!-- <%# @products.each do |product| %>
  <tr>
    <td><%#= product.name %></td>
    <td><%#= product.released_on.strftime("%B %e, %Y") %></td>
    <td><%#= number_to_currency(product.price) %></td>
  </tr>
<%# end %> -->
</table>

<h2>Import Products</h2>

<%= form_tag admin_product_import_path(@product), multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>
<% if @values %>
<h1>File has been uploaded</h1></br>

<table id="Data" class="table table-condensed">
  <tr>
    <td>ID</td>
    <td>Section</td>
    <td>Question</td>
    <td>Section/Chapter</td>
    <td>Correct Answer</td>
    <td>Incorrect Answer1</td>
    <td>Incorrect Answer2</td>
    <td>Incorrect Answer3</td>
    <td>Incorrect Answer4</td>
    <td>Explanation</td>
  <tr>

<% @values.each do |row| %>
<tr>
  <td><%= row["ID"] %></td>
  <td><%= row["Section"] %></td>
  <td><%= row["Question"] %></td>
  <td><%= row["Section/Chapter"] %></td>
  <td><%= row["Correct Answer"] %></td>
  <td><%= row["Incorrect Answer1"] %></td>
  <td><%= row["Incorrect Answer2"] %></td>
  <td><%= row["Incorrect Answer3"] %></td>
  <td><%= row["Incorrect Answer4"] %></td>
  <td><%= row["Explanation"] %></td>
  </tr>
<% end %>

</table>
<%end%>
