%h5
  %p
    %strong Title:
    = @product.title
  %p
    %strong Visibility:
    = @product.visibility

%h3 Content

%ul.sortable
  - @contents.each do |content|
    %li{ "data-content-id": content.id }
      = render partial: content.actable_type.downcase, object: content
%br
= link_to('Add Module', new_admin_product_modulee_path(@product), class: 'btn btn-default') if can? :update, @product
= link_to 'Edit', edit_admin_product_path(@product), class: 'btn btn-default' if can? :update, @product
= link_to 'Back', admin_products_path, class: 'btn btn-default'

%br
%br
