<div class="row">
<%= form_for [:admin, @user], html: { class: 'form col-md-6' } do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%# TODO: Find a better way to do this disabling %>
  <div class="form-group">
    <%= f.label :username, class: 'control-label' %>
    <%= f.text_field :username, class: 'form-control', :disabled=>@value %>
  </div>

  <div class="form-group">
    <%= f.label :email, class: 'control-label' %>
    <%= f.email_field :email, class: 'form-control', :disabled=>@value %>
  </div>

  <div class="form-group">
    <%= f.label :password, class: 'control-label'%> <%= "<i>(leave blank if you don't want to change it)</i><br/>".html_safe if params[:action] == 'edit' %>
    <%= f.password_field :password, autocomplete: "off", class: 'form-control', :disabled=>@value %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, class: 'control-label' , style: 'display:none' %>
    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', :disabled=>@value, style: 'display:none'  %>
  </div>

  <div class="form-group">
    <%= f.label "Role name", class: 'control-label' %>
    <%= select_tag 'role_ids', options_for_select(@roles, @user_roles), multiple: true, prompt: "Default", class: 'form-control'  %>
  </div>


  <div class="form-group">
    <%= f.submit class: 'btn btn-sm btn-success' %>
  </div>
<% end %>
</div>
