<h3>Account Details</h3>
<p>
	<strong>Username:</strong> <%= @user.username %>
  <br/><br/>
  <strong>Email:</strong> <%= @user.email %>

  <% if @user.roles.present? %>
    <br/><br/>
    <strong>Roles:</strong> <%= @user.roles.map(&:name).join(', ') %>
  <% end %>
</p>

<h3>Products</h3>
<%= render 'products', products: @user.products, user: @user, form: false %>

<%= link_to 'Edit', edit_admin_user_path(@user) %> |
<%= link_to 'Assign Products', assign_products_admin_user_path(@user) %> |
<%= link_to 'Back', admin_users_path %>
