<%= form_for(product) do |f| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
<% if current_user.isadmin %>
<%= fields_for(@userproduct) do |ab| %>
  <div class="field">
   <%= ab.label "All Users : " %>
   <%= collection_select(:users,:id, @all_user, :id, :username,{}, {:multiple => true}) %>
  </div>

  <div class="field">
   <%= ab.label "Relationship : " %>
   <%= select_tag(:relationship, options_for_select([['Product Manager','product_manager'],['Content Writer','content_writer']])) %>
</div>

<% end %>
<% end %>
  <div class="field">
    <%= f.label :icon %>
    <%= f.text_field :icon %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
