
<p id="notice"><%= notice %></p>
<p><strong>Name : </strong>
  <%= @product.name %><br></p>


<%= link_to 'Edit', admin_product_path(@product) %> |
<% if user_signed_in? %>
  <%# if current_user.isadmin? %>
    <%= link_to 'Back', products_path %>
  <%# else %>
    <%#= link_to 'Back', dashboard_dashboard_path %>
  <%# end %>
<% end %>

<p>
<br/>

<h5>
  <strong>Name:</strong>
  <%= @product.name %>
</h5>

<br/>

<%= link_to 'Back', dashboard_path, class: 'btn btn-sm btn-primary' %>
