<!DOCTYPE html>
<html>
  <head>
    <title>C3Suite</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<<<<<<< HEAD
    <%= yield %>
=======
      <%= yield %>
     </div>
>>>>>>> 79f79d920b758f11a8723e345a9db67daadeb68f
  </body>
</html>
