<!DOCTYPE html>
<html>
  <head>
    <title>C3Suite</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if puser_signed_in? %>
    <%= link_to "Sign out", destroy_puser_session_path, method: :delete %><br>
    <% else %>
    <%= link_to "Sign in", new_puser_session_path %><br>
    <%= link_to "Sign Up", new_puser_registration_path %><br>
    <% end %>
    <%= link_to "Home", page_home_path %><br>
    <%= link_to "About", page_about_path %><br>
    <%= link_to "Contact", page_contact_path %><br>
    <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
